%h2 Make a new one

%form(action='/resources' method='post')
  .field
    %label Enter a URL
    %input(name='url' type='text')

  .submit
    %input(name='submit' type='submit' value='Make it happen!')
